<h2>Edit <%= resource_name.to_s.humanize %></h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Email</span>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete:"email" ,class:"form-control", placeholder:"hage@examle.com (not null)"%>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">New Password</span>
    </div>
    <% if @minimum_password_length %>
    <%= f.password_field :password, autofocus: true, autocomplete:"new-password" ,class:"form-control", placeholder:"#{@minimum_password_length} characters minimum, leave blank if you don't want to change" %>
    <% end %>
  </div>

  <div class="field input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Confirm Password</span>
    </div>
    <%= f.password_field :password_confirmation, autofocus: true, autocomplete:"Confirm password" ,class:"form-control", placeholder:"same with New Password" %>
  </div>

  <div class="field input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Current Password</span>
  </div>
    <%= f.password_field :current_password, autofocus: true, autocomplete:"current password" ,class:"form-control", placeholder:"we need to confirm your changes" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" ,  class:"btn btn-outline-dark btn-block"%>
  </div><br>
<% end %>

<h3>Delete my account</h3><br>

<div class="actions">
  <%= button_to "Delete my account" , register_path, method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-outline-danger btn-block"%>
  <br><%= link_to "back without update and delete" ,edit_user_path, type:"button", class:"btn btn-outline-dark btn-block"%>
</div>
