<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="setting-wrapper">
      <h1>Account Setting</h1>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, :placeholder => "name" %>
      </div>
      <div class="field">
        <%= form.label :profile %>
        <%= form.text_area :profile, :placeholder => "" %>
      </div>
      
      <div class="field">
        <p>メールアドレス:<%= current_user.email %></p>
        <%= link_to "Access here If u wanna change Email and Password", edit_user_registration_path %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
<% end %>