<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="setting-wrapper">
      <h1>Account Setting</h1><br>
      <div class="field input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <%= form.text_field :name, placeholder: "name" , autofocus: true, autocomplete: "name", class:"form-control" %>
      </div>

      <div class="field input-group">
        <%= form.text_area :profile, size:"x10", placeholder: "profile" ,autofocus: true, autocomplete: "profile", class:"form-control"%>
      </div>

      <% if current_user.provider.blank? %>
      <div class="field input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Email: <%= current_user.email %></span>
        </div>
        <em><%= link_to "Access here If u wanna change Email and Password", register_path %></em>
      </div>
       <% end %>
      <div class="actions">
        <%= form.submit class:"btn btn-outline-dark btn-block"%>
      </div>
    </div>
<% end %>
<div class="actions">
  <%= button_to "Delete my account" , register_path, method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-outline-danger btn-block"%>
</div>