<div class="devise">
<h2>Login</h2><br>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Login / Signup with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider),method: :post , id:"tweet", class:"btn btn-outline-dark btn-block"%><br />
  <% end %>
<% end %>

<%= form_for(resource, as: resource_name, url: login_path) do |f| %>
  <div class="field input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Email</span>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete:"email" ,class:"form-control", placeholder:"Email"%>
  </div>

  <div class="field input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Password</span>
    </div>
    <%= f.password_field :password, autofocus: true, autocomplete: "password", class:"form-control", placeholder:"current password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <span>remember me?</span>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-outline-dark btn-block" %>
  </div>
<% end %>

<em><%= link_to "If you don't  have Codr account, please Signup from here", signup_path %></em>
</div>