<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="posting-wrapper">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :date, value: Time.now %> 
    <div class="field input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title</span>
      </div>
      <%= form.text_field :name , placeholder:"null ok, 50 characters maximum", autofocus: true, class:"form-control"%>
    </div>
    <div class="field input-group">
      <%= form.text_area :content, size:"x15", class:"form-control",placeholder: "# Hello world\n## u can post code with markdown fomart!\n**not null, 400 characters maximum\n\n- you can use list style\n\n1. and you can also like this \n\n```\n<div>\n  <p>Inside code tag, u cannot use script for tag</p>\n  <p> and class href for attribute as a measure against XSS</p>\n<div>\n```" %>
    </div><br>
    <div class="actions">
      <%= form.submit "Post" ,class:"btn btn-outline-dark btn-block" %>
    </div>      
  </div><br>
<% end %>
<div class="actions">
  <%= button_to 'Back', posts_path, class:"btn btn-outline-dark btn-block"%>
</div>     