<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="posting-wrapper">
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.hidden_field :date, :value => Time.now %> 
    <div class="field input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title</span>
      </div>
      <%= form.text_field :name , placeholder:"null ok", autofocus: true, autocomplete: "name", class:"form-control"%>
    </div>
    <div class="field input-group">
      <%= form.text_area :content, size:"x15",placeholder: 
"# Hello world
## u can post code with markdown fomart!

- you can use list style
- like this

1. and you can also like this 
2. hogehoge

```
<div>
  <p>I will implement syntax-highlight later.</p>
<div>
```" ,autofocus: true, autocomplete: "code", class:"form-control"%>
    </div><br>
    <div class="actions">
      <%= form.submit "Post" ,class:"btn btn-outline-dark btn-block", id:"btn" %>
      <br>
      <%= button_to 'Back', posts_path, class:"btn btn-outline-dark btn-block"%>
    </div>           
  </div>
<% end %>