<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="post-container">
      <div class="posting-wapper">
        <%= form.hidden_field :user_id, :value => current_user.id %>
        <%= form.hidden_field :date, :value => Time.now %>    
        
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name , value: "title"%>
        </div>
        
        <div class="field">
          <%= form.label :content %>
          <% if @post.content.nil? %>
            <%= form.text_area :content,placeholder: "u can write and code with markdown-system!",size:"40x20" %>
          <% else %>
            <%= form.text_area :content,  placeholder: "write as markdown",size:"40x20" %>
          <% end %>         
          </div>
        
        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    </div> 
<% end %>
