<div class="posting-container">
  <% if user_signed_in? %>
    <%=link_to "New Post", new_post_path(user_id: current_user.id) , class:"float-btn"%>
  <% else %>
    <%=link_to "New Post", 'login' , class:"float-btn"%>
  <% end %>
</div>

<% if user_signed_in? && @posts.present? %>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-container">
      <div class="post-info">
        <div class="post-info span">
          <span class="username"><%= User.find(post.user_id).name %></span>
          <span class="updated_at">Updated at <%= post.updated_at.strftime("%Y.%m.%d %H:%M") %></span>
        </div>
        <p class="tags"><% if post.name.present? %>Tags :<strong><%= post.name %></strong><% end %></p>
      </div>
      <div class="image-back">
      <div id="capture" class="content">
        <%= sanitize(markdown(post.content), tags: %w(div img h1 h2 h3 h4 h5 ul li a p pre code ), attributes: %w(class href)) %>
      </div>
      </div>
      <div class="post-action">
        <% if post.prtsc.attached? %>
          <%= link_to 'tweet', "https://twitter.com/intent/tweet?url=https://codr0.herokuapp.com/posts/#{post.id}&button_hashtag=Codr0&ref_src=twsrc%5Etfw", id:"tweet", class:"btn-outline-primary", target:"_blank" %>
        <% end %>
        <%= link_to 'Show', post, class:"btn btn-outline-dark" %>
        <%= link_to 'Edit', edit_post_path(post), class:"btn btn-outline-dark"%>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-outline-danger"%>
      </div>
    </div>
  <% end%>
</div>
<% end %>

<% if !user_signed_in? || !@posts.present? || current_user.admin = true %>
<div class="explanation-container">
  <h2 id="explanation-h2">Welcome to Codr0!</h2>
  <div class="posts-container">
    <div class="post-container">
      <div class="user-info">
        <div class="user-name"><p>only for explanation</p></div>
      </div>
      <div class="post-info">
        <p class="date"></p>
      </div>
      <div class="image-back">
      <div id="capture" class="content">
        <%= sanitize(markdown(@adminPost.content), tags: %w(div img h1 h2 h3 h4 h5 a p pre code ), attributes: %w(class href)) %>
      </div><br>
      </div>
      <div class="post-action">
        <%= link_to 'tweet', "https://twitter.com/intent/tweet?url=https://codr0.herokuapp.com/posts/#{@adminPost.id}&button_hashtag=Codr0&ref_src=twsrc%5Etfw", id:"tweet",class:"btn btn-outline-primary", target:"_blank" %>
        <%= link_to 'Show', "", class:"btn btn-outline-dark"%>
        <%= link_to 'Edit', "", class:"btn btn-outline-dark" %>
        <%= link_to 'Destroy', "", data: { confirm: 'Are you sure?' } , class:"btn btn-outline-danger"%>
      </div><br>
      <p>Only tweet button is able to push.</p>
    </div>
  </div>
</div>
<% end %>