<div class="posting-container">
  <% if user_signed_in? %>
    <%=link_to 'New Post', new_post_path(user_id: current_user.id) , class:"btn btn-outline-dark btn-block ", type:"button"%>
  <% else %>
    <%=link_to 'New Post', 'login' , class:"btn btn-outline-dark btn-block", type:"button"%>
  <% end %>
</div>

<% if user_signed_in? && @posts.present? %>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-container">
      <div class="user-info">
        <div class="user-name"><%= post.user_id %></div>
      </div>
      <div class="post-info">
        <p class="date"><%= post.date %></p>
      </div>
      <div id="capture" class="content">
        <div><%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, fenced_code_blocks: true).render(post.content).html_safe %></div>
      </div>
      <div class="post-action">
        <% if user_signed_in? %>
          <% unless post.prtsc.attached? %>
            <%= form_with(model: post, local: true) do |form| %>
              <%= form.hidden_field :id, value: post.id %>
              <%= form.hidden_field :prtsc, value: "" %>
              <%= form.submit "Post", class:"btn btn-outline-dark", id:"tweet", value:"tweet" %>
            <% end %>
          <% else %>
            <%= link_to 'tweet', "https://twitter.com/intent/tweet?url=https://codr0.herokuapp.com/posts/#{post.id}&button_hashtag=Codr0&ref_src=twsrc%5Etfw", type:"button", class:"btn btn-primary-dark", target:"_blank" %>
          <% end %>
          <%= link_to 'Show', post, class:"btn btn-outline-dark" , type:"button"%>
          <%= link_to 'Edit', edit_post_path(post), class:"btn btn-outline-dark", type:"button"%>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-outline-danger", type:"button"%>
        <% end %> 
      </div>
    </div>
  <% end%>
</div>
<% end %>
