  <p id="notice"><%= notice %></p>
  <div class="posting-container">
    <% if user_signed_in? %>
       <%=link_to 'New Post', new_post_path(user_id: current_user.id) %>
    <%else%>
      <%= link_to 'New Post', 'login' %>
    <% end%>
  </div>

  <div class="posts-container">
    <% @posts.each do |post| %>
      <div class="post-container">
        <div class="user-info">
          <div class="user-name"><%= post.user_id %></div>
        </div>
        <div class="post-info"><p class="date"><%= post.date %></p></div>
        <div class="content"><p><%= post.content %></div>
        <div class="post-action">
          <% if user_signed_in? %>
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %> 
        </div>
      </div>
    <% end%>
   </div>
