<% if @post.prtsc.attached? %>
  <% set_meta_tags og:{image: @post.prtsc.service_url} %>
<% end %>
<% set_meta_tags og:{description: @post.name} %>

<div class="posting-container">
  <% if user_signed_in? %>
    <%=link_to 'New Post', new_post_path(user_id: current_user.id), class:"float-btn"%>
  <% else %>
    <%=link_to 'New Post', 'login' , class:"float-btn"%>
  <% end %>
</div>
<div class="post-container">
  <div class="post-info">
    <div class="post-info span">
      <span class="username"><%= @user.name %></span>
      <span class="updated_at">Updated at <%= @post.updated_at.strftime("%Y.%m.%d %H:%M") %></span>
    </div>
    <p class="tags"><% if @post.name.present? %>Tags :<strong><%= @post.name %></strong><% end %></p>
  </div>
  <div class="image-back">
  <div id="capture" class="content">
    <%= sanitize(markdown(@post.content), tags: %w(div img h1 h2 h3 h4 h5 ul li a p pre code ), attributes: %w(class href)) %>

  </div>
  </div>
  <div class="post actions">
    <% if user_signed_in? %>
      <%= form_with(model: @post, local: true) do |form| %>
        <%= form.hidden_field :id, value: @post.id %>
        <%= form.hidden_field :prtsc, value: "" %>
        <%= form.submit "Post", class:"btn btn-outline-dark", id:"tweet", value:"Tweet" %>
      <% end %>
    <% end %>
    <%= link_to 'Back', posts_path , class:"btn btn-outline-dark" %>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_post_path(@post) , class:"btn btn-outline-dark" %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-outline-danger" %>
    <% end %>
  </div>
</div><br>


<div class="preview-container">
  <% unless @post.prtsc.attached? %>
    <strong>Attention : This post hasn't saved as image yet. Please push "tweet".</strong>
  <% end %>
  <p>The following image is made with Base64 and different from saved image on AWS S3</p>
  <img id="preview" alt="image preview" src="">
</div>

