  <p id="notice"><%= notice %></p>
  <div class="post-container">
    <div id="capture" class="content">
        <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, fenced_code_blocks: true).render(@post.content).html_safe %>
    </div>
    <div class="post-action">
      <%= link_to 'Back', posts_path %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  

  <p>----------html2canvas2image---------------</p>
    
    <img src="" alt="" id="canvas-image">

    <script type="text/javascript">
      html2canvas(document.querySelector("#capture")).then(canvas => {
        var imageData = canvas.toDataURL();
        document.getElementById('canvas-image').setAttribute("src",canvas.toDataURL('image/jpeg'));
      });
    </script>
    </div>


    <p>------------getImageSrc--------------------------------</p>

    
    <script>
      function getImageSrc(){
        var element = document.getElementById('canvas-image');
        element.getAttribute('src');
        alert(element.src);
        }
    </script>

    <button onclick="getImageSrc()">getImageSrc</button>

    <p>---------------------------------</p>

    <%= form_with(model: @post, local: true) do |form| %>
  
    <div class="post-container">
      <div class="posting-wapper">
        <%= form.hidden_field :user_id, :value => current_user.id %>
       <%= form.hidden_field :image, :value => 'value' %>
        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    </div> 
    <% end %>

<p>-----------setImageSrcToValue-------------------------------<p>

    <script>
      function setImageSrcToValue(){
        var element = document.getElementById('canvas-image');
        var img_value = element.getAttribute('src')
        
        var img = document.getElementById('post_image');
        img.setAttribute("value",img_value);
        alert()
      }
    </script>

   

<p>-------------koko made ---------------------</p>

<script>
  document.addEventListener('load', function() {
    var element = document.getElementById('canvas-image');
    var img_value = element.getAttribute('src')
    var img = document.getElementById('post_image');
    img.setAttribute("value",img_value);
    alert(img_value)
  });
</script>


<div>
<p>gazou dashi</p>
<img src=<%= "#{@post.image}"%>>
</div>
