  
<% if @post.prtsc.attached? %>
  <% set_meta_tags og:{image:@post.prtsc} %>
<% end %>

  <div class="posting-container">
    <% if user_signed_in? %>
    <%=link_to 'New Post', new_post_path(user_id: current_user.id) , type:"button", class:"btn btn-outline-dark btn-block"%>
    <% else %>
    <%=link_to 'New Post', 'login' , type:"button", class:"btn btn-outline-dark btn-block"%>
    <% end %>
  </div>
  <div class="post-container">
    <div id="capture" class="content">
        <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, fenced_code_blocks: true).render(@post.content).html_safe %>
    </div>
    <div class="post-action">
      <% if user_signed_in? %>
        <%= form_with(model: @post, local: true) do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :prtsc, value: "" %>
        <input type="submit" name="commit" value="tweet" id="tweet" class="btn" data-disable-with="tweet" target="_blank" onclick=window.open("https://twitter.com/intent/tweet?url=htts://codr0.herokuapp.com/posts/#{@post.id}&button_hashtag=Codr0&ref_src=twsrc%5Etfw")>
        <% end %>
      <% end %>
      <%= link_to 'Back', posts_path , type:"button", class:"btn btn-outline-dark" %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) , type:"button", class:"btn btn-outline-dark" %>
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } , type:"button", class:"btn btn-outline-dark" %>
      <% end %>
    </div>
  </div> 
    <script type="text/javascript">
      html2canvas(document.querySelector("#capture"),{scale:1, width:600}).then(canvas => {
        var base64 = canvas.toDataURL('image/jpeg', 1.0);
        //document.getElementById('test_image_base64').setAttribute('src', base64);
        document.getElementById('post_prtsc').setAttribute('value', base64);  
        });
      </script>
  
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
      function tweet(){
        window.open("https://twitter.com/intent/tweet?url=htts://codr0.herokuapp.com/posts/#{@post.id}&button_hashtag=Codr0&ref_src=twsrc%5Etfw", 'tweet', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1');
      }
    </script>

    