  <% set_meta_tags og:{image:@post.image} %>

  <p id="notice"><%= notice %></p>
  <div class="post-container">
    <div id="capture" class="content">
        <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, fenced_code_blocks: true).render(@post.content).html_safe %>
    </div>
    <div class="post-action">
      <%= link_to 'Back', posts_path %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>

        <%= form_with(model: @post, local: true) do |form| %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
          <%= form.hidden_field :image %>  
          <div class="actions">
            <%= form.submit "tweet" ,onclick:'tweet()',class:"twitter-hashtag-button"%>
          </div>  
        <% end %>
      <% end %>
    </div>
  </div>  
# post-showのみのスクリプト
    <script type="text/javascript">
      html2canvas(document.querySelector("#capture")).then(canvas => {
        var base64 = canvas.toDataURL('image/jpeg', 1.0);
        //document.getElementById('test_image_base64').setAttribute('src', base64);
        document.getElementById('post_image').setAttribute('value', base64);  
      });
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
      function tweet(){
        window.open("https://twitter.com/intent/tweet?url=htts://codr0.herokuapp.com/posts/23&button_hashtag=Codr0&ref_src=twsrc%5Etfw", 'tweet', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1');
      }
    </script>