<!DOCTYPE html>
<html>
  <head>
    <title>Codr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:site" content="@gdCodr" /> 
    <meta property="og:url" content="https://codr8.herokuapp.com/posts/21" />
    <meta property="og:title" content="title" /> 
    <meta property="og:description" content="code" /> 
    <meta property="og:image" content="画像のURL" /> 


  </head>

   <body>
    <div class="body-container">
      <%= render :partial => 'shared/header' %>
      <div class="yield-container">
        <%= yield %>
      </div>  
      <%= render :partial => 'shared/footer' %>
    </div>
    </body>
</html>
