<!DOCTYPE html>
<html>
  <head>
    <title>Codr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- OGP -->
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@gdCodr">
    <meta name="twitter:title" content="code">
    <meta name="twitter:description" content="Share code on twiter">
    <meta name="twitter:image" content="https://alien.laineus.com/img/title.png">
    <meta name="twitter:player" content="https://codr8.herokuapp.com/posts/21">

    <meta name="twitter:player:width" content="960">
    <meta name="twitter:player:height" content="540">
  </head>

   <body>
    <div class="body-container">
      <%= render :partial => 'shared/header' %>
      <div class="yield-container">
        <%= yield %>
      </div>  
      <%= render :partial => 'shared/footer' %>
    </div>
    </body>
</html>
