<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= display_meta_tags(default_meta_tags) %>
  </head>

   <body>
    <div class="body-container">
      <%= render :partial => 'shared/header' %>
      <div class="yield-container">
        <%= yield %>
      </div>  
      <%= render :partial => 'shared/footer' %>
    </div>
    </body>
</html>
